@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Mosk';
  src: url('https://db.onlinewebfonts.com/t/70a0b55fecea9a9200992a7f05f57d79.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

select {
  appearance: none;
  background: url('../public/svg/selectArrow.svg') no-repeat right 15px center;
}
