@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, SpoqaHanSansNeo-Regular, sans-serif;
}

.font-medium {
  font-family: "SpoqaHanSansNeo-Medium", sans-serif;
}

.font-san-bold {
  font-family: "SpoqaHanSansNeo-Bold", sans-serif;
}

.font-san-light {
  font-family: "SpoqaHanSansNeo-Light", sans-serif;
}

.font-san-thin {
  font-family: "SpoqaHanSansNeo-Thin", sans-serif;
}

.font-mosk {
  font-family: "Mosk", sans-serif;
}

@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("/fonts/SpoqaHanSansNeo-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SpoqaHanSansNeo-Bold";
  src: url("/fonts/SpoqaHanSansNeo-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SpoqaHanSansNeo-Medium";
  src: url("/fonts/SpoqaHanSansNeo-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SpoqaHanSansNeo-Light";
  src: url("/fonts/SpoqaHanSansNeo-Light.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SpoqaHanSansNeo-Thin";
  src: url("/fonts/SpoqaHanSansNeo-Thin.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mosk";
  src: url("https://db.onlinewebfonts.com/t/70a0b55fecea9a9200992a7f05f57d79.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NanumPen";
  font-weight: 200;
  src: url("/fonts/NanumPen.ttf") format("truetype");
}

#select1 {
  appearance: none;
  background: url("../public/svg/selectArrow.svg") no-repeat right 15px center;
}

#select2 {
  appearance: none;
  background: url("../public/svg/selectArrow2.svg") no-repeat right 9.28px
    center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 40rem #fff inset;
}
